container_commands:
 01_download_node:
  command: "curl -sL https://rpm.nodesource.com/setup_12.x | bash -E"
 02_install_gcc:
  command: 'sudo yum install -y gcc-c++ make'
 03_install_node:
  command: 'yum install -y nodejs'
 04_install_node_modules:
  command: 'npm install --no-optional'
 05_install_node_modules2:
  command: 'rm -rf node_modules'
 06_install_node_modules3:
  command: 'rm package-lock.json'
 07_install_node_modules4:
  command: 'npm cache clear --force'
 08_install_node_modules5:
  command: 'npm install --save-dev cross-env'
 09_run_production:
  command: 'npm run production' 

  