container_commands:
 01_download_node:
  command: "curl -sL https://rpm.nodesource.com/setup_12.x | bash -E"
 02_install_gcc:
  command: 'sudo yum install -y gcc-c++ make'
 03_install_node:
  command: 'yum install -y nodejs'
 04_include_path:
  command: "npm config set scripts-prepend-node-path auto"
 05_install_node_modules1:
  command: 'npm install'
 06_install_node_modules2:
  command: 'npm install -g node-gyp'
 10_install_node_modules7:
  command: 'npm install --global cross-env'
 11_run_production:
  command: 'npm run production' 

  